body {
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.42857143;
}

html {
    position: relative;
    min-height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Keep all content below navbar */
.content {
    padding-top: 50px;
}

/* Fixes top padding when navbar wraps at sm size */
@media (min-width: 768px) and (max-width: 992px) {
    .content {
        padding-top: 100px;
    }
}

/* Add icon to search field */
#search-box::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  ' }
#search-box::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  ' } /* firefox 19+ */
#search-box:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  ' } /* ie */
#search-box:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  ' }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer-left {
    float: left;
}

.footer-text {
    padding-top: 15px;
}

body > .container {
    padding: 50px 15px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar .navbar-default .navbar-fixed-top {
    z-index: 999;
}

#edit-alert {
    margin-bottom: 0;
    position: fixed;
    width: 25%;
    left: 50%;
    margin: 0 0 0 -12.5%;
    top: 1%;
    z-index: 2000;
}

table, .table {
    font-size: 15px;
}

table.dataTable tbody tr {
    background-color: inherit;
}

select.dept-sized {
    height: 38px;
    padding: 5px;
    /*width: 127px;*/
}

select.loc-sized {
    height: 38px;
    padding: 5px;
    /*width: 93px;*/
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

.tab-pane {
    padding-top: 35px;
}

.form-table-btn {
    display: inline-block;
}

